<!doctype html>
<html lang="en">

<head>
    <title>Review Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--<link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/hsuweihung/review_css/main/css/style.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='review_page/css/style.css') }}">
    <script src="{{ url_for('static', filename='review_page/js/status_change.js') }}"></script>
    <script src="{{ url_for('static', filename='review_page/js/jquery.min.js') }}"></script>

</head>

<body>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Document Infomation</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>
                                <h3 class="subtitle">用戶</h3>
                            </th>
                            <th>
                                <h3 class="subtitle">檔案名稱</h3>
                            </th>
                            <th>
                                <h3 class="subtitle">教授</h3>
                            </th>
                            <th>
                                <h3 class="subtitle">科目</h3>
                            </th>
                            <th>
                                <h3 class="subtitle">類型</h3>
                            </th>
                            <th>
                                <h3 class="subtitle">文件狀態</h3>
                            </th>
                            <th>
                                <h3 class="subtitle">審核狀態</h3>
                            </th>
                        </tr>
                        </thead>
                        <p id="demo"></p>
                        <tbody>
                        {% for row in data %}
                            <tr>
                                <td hidden="hidden">{{ row.id }}</td>
                                <td>{{ row.user_id }}</td>
                                <td>{{ row.file_name }}</td>
                                <td>{{ row.question_professor }}</td>
                                <td>{{ row.question_course }}</td>
                                <td>{{ row.question_exam_type }}</td>
                                <td>{{ row.censor_status }}</td>
                                <td>
                                    <form action="/download/{{ row.id }}" method="get">
                                        <button class="btn btn-warning " style="margin-bottom:10px; width: 10em"
                                                type="submit">Check
                                        </button>
                                    </form>
                                    <button href="#"
                                            class="btn btn-primary "
                                            style="margin-bottom:10px; width: 10em"
                                            onclick="status_success({{ row.id }})">Success
                                    </button>
                                    <button href="#"
                                            class="btn btn-danger "
                                            style="margin-bottom:10px; width: 10em"
                                            onclick="status_failed({{ row.id }})">Failed
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<script src="../static/review_page/js/jquery.min.js"></script>
<script src="../static/review_page/js/popper.js"></script>
<script src="../static/review_page/js/bootstrap.min.js"></script>
<script src="../static/review_page/js/main.js"></script>
<script src="../static/review_page/js/data.js"></script>

</html>